<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function  f() {
            window.history.forward();}
        setTimeout("f()",0);
        window.onunload= function () {null;}

    </script>


</head>
<body>
<a href="/homepage">Logout</a>

<!-- <form action="#" method="post" name="EditForm" onsubmit="return validateForm1()"
      role="form" th:action="@{/edit}" th:object="${user}">
    <div class="form-group">
        <label >UserId</label>
        <input class="form-control" readonly th:field="*{userName}" th:text="*{userId}" type="text"/>
    </div>
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" readonly th:field="*{userName}" th:text="${user.userName}" type="text"/>
    </div>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input class="form-control" id="inputName" minlength="2"
               required th:field="*{name}" th:placeholder="${user.name}"
               type="text"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">Surname</label>
        <input class="form-control" id="inputEmail" minlength="2"
               required th:field="*{surname}"
               th:placeholder="${user.surname}" type="text"/>
    </div>
    <div class="form-group">
        <label for="inputMessage">PhoneNumber</label>
        <input class="form-control" id="inputMessage" minlength="8"
               required th:field="*{phoneNumber}"
               th:placeholder="${user.phoneNumber}" type="number"/>
    </div>
    <div class="form-group">
        <label for="roleEdit">Role</label>
        <input class="form-control" id="roleEdit" name="role"
               placeholder="Enter a phone number" required  min="0" max="1" th:field="*{role}"
               type="number"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">
            Close
        </button>

        <button type="submit">Save</button>
    </div>

</form> -->


</body>
</html>